/*! reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*! global attributes */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.top-nav li a[class*=btn]{
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
}
/*! header style */
/* top navs style */
div.top-nav{
    width: 100%;
    line-height: 100px;
}
.top-nav li{
    display: inline-block;
    margin: 0 30px;
    font-size: 0.9rem;
}
.top-nav li a{
    text-decoration: none;
    color: black;
}
.top-nav li a:hover{
    text-decoration: underline;
}
.top-nav li a:visited{
    /* color: blueviolet; */
}
.top-nav img{
    vertical-align: text-bottom;
}

/* jumbotron style */
.jumbotron{
    width: 100%;
    padding: 150px 200px;
    background-color: #b4d0e7;    
}
.jumbotron h1{
    font-size: 4rem;
}